* {
  margin: 0;
  font-family: monospace;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
/* Start Navbar */

nav ul {
  background: #222f3e;
  padding: 15px;
}

nav ul li {
  display: inline-block;
  margin-left: 30px;
  font-size: 20px;

}

nav ul li a {
  color:  #fff;
}

/* End Navbar */


.container
{
    width: 50%;
    margin: auto;
}
.header
{
    
    margin: 20px 0px;
    padding: 20px;
    background-color: rgb(8, 161, 98);
    color: #FFF;
    text-align: center;
    font-size: 2rem;
}

legend span 
{
    background-color: rgb(8, 161, 98);
    border-radius: 50%;
    color: white;
    padding: 0px 10px;
    height: 20px;
}
.parent
{
    display: flex;
}
.left
{
    width: 30%;
    padding:10px;
}
.right
{
    padding:10px;
}
.left div
{
    margin-bottom: 20px; 
}
.right input
{
    margin-bottom: 10px; 
    padding: 5px;
}
.sub
{
    text-align: center;
}

.sub1,
.sub2
{
    border: 1px solid #000;
    border-radius: 10px;
    color: white;
    background-color: rgb(8, 161, 98);
    padding: 10px 30px;
}


.left2 div,
.left3 div,
.left4 div
{
    margin-bottom: 25px; 
}
